.text-field {
    -fx-background-color: #d1ebd8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #376644; /* Optional: adds a visible border */
    -fx-border-width: 1px;  /* Optional: sets border thickness */
    -fx-padding: 0.333333em 1em 0.333333em 1em; /* Adjust padding as needed */
    -fx-highlight-fill: transparent; /* Removes background color */
    -fx-highlight-text-fill: -fx-text-inner-color; /* Keeps text color */
}

.button {
    -fx-border-color: #376644;
    -fx-background-color: #d1ebd8;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}